body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --bg-color: #F7F6C5;
  --font-color: #0107CB;
  --button-text-color: #faf9db;
  --font-color-2: #018ECB;
  --button-bg: #4447DB;
  --button-bg-hover: #6C66DB;
  --table-bg: #F8EF9A;
  --table-border: #f0e584;
}

.App{
  max-width: 600px;
  margin: auto;
  background-color: var(--bg-color);
  text-align: center;
  padding: 40px 20px;
  box-sizing: border-box;
}

h1{
  margin-top: 0;
  color: var(--font-color);
  font-weight: 600;

}

p{
  color:var(--font-color);
  font-size: larger;
}

label{
  color: var(--font-color-2);
  font-weight: 400;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

input{
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
  display: block;
}

.next-btn{
  margin: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: var(--button-bg);
  border-radius: 5px;
  border: none;
  color: var(--button-text-color)
}

.next-btn:hover{
  cursor: pointer;
  background-color: var(--button-bg-hover)
}
table{
  width: 100%;
  table-layout: fixed;
}

table, th, td {
  padding: 0.2rem;
  color: var(--font-color-2);
  background-color: var(--table-bg);
  border: 2px solid var(--table-border);
  border-collapse: collapse;
}

.noOfNotes {
  background-color: white;
  font-weight: bold;
}

.alert{
  /* text-align: center;
  align-content: center;
  align-items: center; */
  justify-content: center;
}